.title{
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    margin-right: 150px;
    margin-left: 150px;
    position: relative;
    z-index: 100;
}

.span-title{
    color: rgb(103, 204, 255);
}
