.title{
    color: #fff;
<<<<<<< HEAD
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    margin-right: 150px;
    margin-left: 150px;
    position: relative;
    z-index: 100;
}

.span-title{
    color: rgb(103, 204, 255);
}
=======
    font-size: 70px;
    text-align: center;
    font-weight: 400;
}
>>>>>>> fa7ec3d16c4a13d216dfebd57e4acb08e99c193e
